<section id="how-to-listen">
<div class="listening-directions">
    <ul>
      <li><a href="https://podcasts.apple.com/us/podcast/rehydrate/id1540884633">Apple Podcasts</a></li>
      <li><a href="https://www.youtube.com/@RehydratePodcast">YouTube</a></li>
      <li><a href="https://overcast.fm/itunes1540884633/rehydrate">Overcast</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
</div>
</section>
