---
layout: layouts/episode.njk
stuff:
  title: Project Hail Mary Movie
  summary: Dan, Priya, and Thalia are joined by guests Spencer and Guy to discuss the movie adaptation of Project Hail Mary
  slug: project-hail-mary-movie
  season: 10
  number: 6
  date: 2026-05-01T00:00:00.000Z
  imageFilename: rehydrate-s10-ep6.jpg
  episodeFilename: rehydrate-s10-ep6-project-hail-mary-movie.mp3
  topics:
    - 'Intro (0:00:00)'
    - 'Initial Thoughts (0:01:04)'
    - 'Spencer''s Thoughts (0:01:46)'
    - 'Priya''s Initial Thoughts (0:09:19)'
    - 'Guy''s Initial Thoughts (0:14:11)'
    - 'Thalia''s Initial Thoughts (0:16:05)'
    - 'Dan''s Initial Thoughts (0:19:51)'
    - 'Changes From The Book (0:21:58)'
    - 'Best and Worst Book Changes (0:35:51)'
    - 'Compare Againt Other Sci-Fi (0:51:54)'
    - 'Of Course We Talk About 3 Body Problem (1:03:39)'
    - 'Outro (1:08:41)'
  links: ~
  episodeSummary: /episodes/summaries/rehydrate-s10-ep6-summary/index.html
  seconds: 4171
  hosts:
    - dan
    - priya
    - thalia
